In [3]:
import pandas as pd

In [4]:
#loading in white magic csv
white_magic_df = pd.read_csv('Witchcraft-csvs/WDB_WhiteMagic.csv')
case_df = pd.read_csv('Witchcraft-csvs/WDB_Case.csv')

In [5]:
case_df.columns

Index(['CaseRef', 'CaseId', 'CaseSystemId', 'NamedIndividual', 'AccusedRef',
       'CaseStart_date', 'CaseStart_date_as_date', 'Case_date',
       'Case_date_as_date', 'Age_at_case',
       ...
       'ClaimedPossessed', 'AdmitLesserCharge', 'ClaimedNaturalCauses',
       'Nodefence', 'DefenseNotes', 'CaseNotes', 'Createdby', 'Createdate',
       'Lastupdatedby', 'Lastupdatedon'],
      dtype='object', length=111)

In [6]:
case_df[(case_df.WhiteMagic_s==1)]

,CaseRef,CaseId,CaseSystemId,NamedIndividual,AccusedRef,CaseStart_date,CaseStart_date_as_date,Case_date,Case_date_as_date,Age_at_case,...,ClaimedPossessed,AdmitLesserCharge,ClaimedNaturalCauses,Nodefence,DefenseNotes,CaseNotes,Createdby,Createdate,Lastupdatedby,Lastupdatedon
32,C/EGD/103,103,EGD,-1.0,A/EGD/92,27/1/1591,01/27/91 00:00:00,10/5/1591,05/10/91 00:00:00,NaN,...,0,0,0,0,NaN,NaN,SMD,05/15/01 17:00:16,LEM,11/11/02 11:37:05
43,C/EGD/104,104,EGD,-1.0,A/EGD/93,27/1/1591,01/27/91 00:00:00,15/6/1591,06/15/91 00:00:00,NaN,...,0,0,0,0,NaN,Brought into the North Berwick stuff.,SMD,05/15/01 17:00:16,jhm,11/13/02 16:21:22
48,C/EGD/1045,1045,EGD,-1.0,A/EGD/1034,20/3/1628,03/20/28 00:00:00,3/7/1628,07/03/28 00:00:00,NaN,...,0,0,0,0,NaN,NaN,SMD,05/15/01 17:00:16,LEM,11/11/02 11:45:24
98,C/EGD/1094,1094,EGD,-1.0,A/EGD/1082,31/5/1624,05/31/24 00:00:00,11/7/1629,07/11/29 00:00:00,75.0,...,0,0,0,0,NaN,He was first denounced as a rebel on May 1624 ...,SMD,05/15/01 17:00:16,LEM,11/11/02 11:48:22
266,C/EGD/1258,1258,EGD,-1.0,A/EGD/1246,8/9/1630,09/08/30 00:00:00,22/2/1631,02/22/31 00:00:00,NaN,...,0,0,0,0,NaN,"good description of a local trial, gives the p...",SMD,05/15/01 17:00:16,jhm,11/13/02 12:48:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2777,C/JO/3093,3093,JO,-1.0,A/JO/2954,6/4/1597,04/06/97 00:00:00,17/4/1597,04/17/97 00:00:00,NaN,...,0,0,0,0,NaN,NaN,jhm,07/09/02 14:33:48,LEM,11/11/02 12:58:26
2780,C/JO/3096,3096,JO,-1.0,A/JO/2957,10/4/1597,04/10/97 00:00:00,10/4/1597,04/10/97 00:00:00,33.0,...,0,0,0,0,NaN,NaN,jhm,07/09/02 14:59:14,LEM,10/31/02 10:54:18
2831,C/JO/3247,3247,JO,-1.0,A/JO/3085,27/10/1677,10/27/77 00:00:00,17/11/1677,11/17/77 00:00:00,NaN,...,0,0,0,0,NaN,NaN,jhm,08/27/02 13:39:17,jhm,11/13/02 12:06:18
3117,C/LA/3044,3044,LA,-1.0,A/LA/2906,NaN,NaN,7/8/1602,08/07/02 00:00:00,NaN,...,0,0,0,0,NaN,NaN,LEM,06/17/02 15:11:16,LEM,12/05/02 13:00:28
3176,C/LA/3135,3135,LA,-1.0,A/LA/2994,19/5/1658,05/19/58 00:00:00,5/4/1659,04/05/59 00:00:00,NaN,...,0,0,0,0,NaN,NaN,LEM,07/18/02 12:18:47,LEM,10/08/02 10:49:03

In [7]:
trial_df = pd.read_csv('Witchcraft-csvs/WDB_Trial.csv')

In [8]:
trial_df['Verdict'].value_counts()

Verdict
Guilty         236
Not Guilty      45
Not Proven      11
Half Guilty      7
Name: count, dtype: int64

In [9]:
trial_df['Execution'].value_counts()

Execution
0    2981
1     230
Name: count, dtype: int64

In [10]:
trial_df['Female_accusers'].value_counts()

Female_accusers
0.0     3078
2.0       23
4.0       21
1.0       12
5.0       11
3.0       11
6.0        8
16.0       8
7.0        8
9.0        5
13.0       4
12.0       4
8.0        3
14.0       2
11.0       2
19.0       2
10.0       2
22.0       1
18.0       1
27.0       1
15.0       1
Name: count, dtype: int64

In [11]:
trial_df['Male_accusers'].value_counts()

Male_accusers
0.0     3051
2.0       17
6.0       17
4.0       16
3.0       14
7.0       14
1.0       11
22.0       9
5.0        9
8.0        8
9.0        8
11.0       5
12.0       4
10.0       4
25.0       4
15.0       3
21.0       3
14.0       3
13.0       2
24.0       1
19.0       1
48.0       1
20.0       1
16.0       1
23.0       1
43.0       1
Name: count, dtype: int64

In [12]:
trial_df['Sentence'].value_counts()

Sentence
Execution             205
Released               52
Banishment             27
Declared Fugitive      11
Excommunicated          6
Put to the horn         2
Hang                    1
Branded                 1
Prison                  1
Public Humiliation      1
Name: count, dtype: int64

In [13]:
trial_df['Executionmethod'].value_counts()

Executionmethod
Strangle & Burn    125
Burn                46
Beheading            3
Hang                 1
Name: count, dtype: int64

In [14]:
trial_df.columns

Index(['Trialref', 'TrialId', 'TrialSystemId', 'CaseRef', 'TrialType',
       'Trial_settlement', 'Trial_parish', 'Trial_presbytery', 'Trial_county',
       'Trial_burgh', 'Trial_NGR_Letters', 'Trial_NGR_Easting',
       'Trial_NGR_Northing', 'Watching', 'WatchingDate',
       'WatchingDate_as_date', 'Arrest', 'ArrestDate', 'ArrestDate_as_date',
       'Fled', 'FledDate', 'FledDate_as_date', 'ActionDropped',
       'Actiondropdate', 'Actiondropdate_as_date', 'Actiondroppedby',
       'Actionbody', 'Confrontingsuspects', 'PretrialNotes', 'ProcessType',
       'TrialDate', 'TrialDate_as_date', 'TrialPlace', 'Female_accusers',
       'Male_accusers', 'High_status', 'Defence', 'Verdict', 'Sentence',
       'Cjtorder', 'Cjtdate', 'Cjtdate_as_date', 'Circuit', 'Circuitname',
       'Localwithcrep', 'Noreftocentral', 'TrialNotes', 'Execution',
       'Executionmethod', 'ExecutionDate', 'ExecutionDate_as_date',
       'ExecutionPlace', 'Exec_settlement', 'Exec_parish', 'Exec_presbytery',
       'Exec_county', 'Exec_burgh', 'Exec_NGR_Letters', 'Exec_NGR_Easting',
       'Exec_NGR_Northing', 'PostTrialNotes', 'Createdby', 'Createdate',
       'Lastupdatedby', 'Lastupdatedon'],
      dtype='object')

In [15]:
#merging the trial and case files
trialcase = trial_df.merge(case_df, on = 'CaseRef', how = 'left')

In [16]:
#now adding in the accused file 
df_accused = pd.read_csv('Witchcraft-csvs/WDB_Accused.csv')

In [17]:
accusedtrialcase = df_accused.merge(trialcase, on = 'AccusedRef', how = 'left')

In [18]:
accusedtrialcase.shape

(3594, 205)

In [19]:
df_accused.shape

(3219, 31)

In [20]:
accusedtrialcase.Trialref.value_counts()

Trialref
T/JO/1712    1
T/LA/211     1
T/LA/951     1
T/LA/203     1
T/LA/173     1
            ..
T/JO/538     1
T/LA/2074    1
T/LA/2075    1
T/LA/2076    1
T/LA/2274    1
Name: count, Length: 3210, dtype: int64

In [21]:
#accusedtrialcase['sentence']['sex'].value_counts()
accusedtrialcase.groupby(by = 'Sex').Sentence.value_counts(normalize = True)

Sex     Sentence
Female  Execution             0.675676
        Released              0.154440
        Banishment            0.100386
        Declared Fugitive     0.038610
        Excommunicated        0.023166
        Branded               0.003861
        Public Humiliation    0.003861
Male    Execution             0.613636
        Released              0.250000
        Put to the horn       0.045455
        Banishment            0.022727
        Declared Fugitive     0.022727
        Hang                  0.022727
        Prison                0.022727
Name: proportion, dtype: float64

In [22]:
accusedtrialcase.groupby(by = 'Sex').Sentence.value_counts()

Sex     Sentence
Female  Execution             175
        Released               40
        Banishment             26
        Declared Fugitive      10
        Excommunicated          6
        Branded                 1
        Public Humiliation      1
Male    Execution              27
        Released               11
        Put to the horn         2
        Banishment              1
        Declared Fugitive       1
        Hang                    1
        Prison                  1
Name: count, dtype: int64

In [23]:
accusedtrialcase.groupby(by = 'Sex').Executionmethod.value_counts()

Sex     Executionmethod
Female  Strangle & Burn    108
        Burn                40
        Beheading            2
        Hang                 1
Male    Strangle & Burn     17
        Burn                 3
        Beheading            1
Name: count, dtype: int64

In [24]:
accusedtrialcase.groupby(by = 'Sex').Executionmethod.value_counts(normalize = True)

Sex     Executionmethod
Female  Strangle & Burn    0.715232
        Burn               0.264901
        Beheading          0.013245
        Hang               0.006623
Male    Strangle & Burn    0.809524
        Burn               0.142857
        Beheading          0.047619
Name: proportion, dtype: float64

In [25]:
accusedtrialcase.head(10)

,AccusedRef,AccusedSystemId,AccusedID,FirstName,LastName,M_Firstname,M_Surname,Alias,Patronymic,DesTitle,...,ClaimedPossessed,AdmitLesserCharge,ClaimedNaturalCauses,Nodefence,DefenseNotes,CaseNotes,Createdby_y,Createdate_y,Lastupdatedby_y,Lastupdatedon_y
0,A/EGD/10,EGD,10,Mareon,Quheitt,Marion,White,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/23/02 16:38:58
1,A/EGD/100,EGD,100,Thom,Cockburn,Thomas,Cockburn,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/02/02 10:32:51
2,A/EGD/1000,EGD,1000,Christian,Aitkenhead,Christine,Aikenhead,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/01/02 10:48:12
3,A/EGD/1001,EGD,1001,Janet,Ireland,Janet,Ireland,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/01/02 10:49:00
4,A/EGD/1002,EGD,1002,Agnes,Hendersoun,Agnes,Henderson,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/01/02 10:50:07
5,A/EGD/1003,EGD,1003,Margaret,Young,Margaret,Young,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/01/02 10:51:51
6,A/EGD/1004,EGD,1004,Margaret,Ridpeth,Margaret,Redpath,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/01/02 10:53:14
7,A/EGD/1005,EGD,1005,Janet,Reid,Janet,Reid,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,LEM,10/10/02 14:32:10
8,A/EGD/1005,EGD,1005,Janet,Reid,Janet,Reid,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,LEM,10/10/02 14:32:10
9,A/EGD/1006,EGD,1006,Agnes,Rankein,Agnes,Rankin,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,SMD,05/15/01 17:00:16,jhm,10/01/02 10:56:12

In [26]:
pd.set_option('display.max_columns', None)

In [27]:
accusedtrialcase.groupby(by = 'Sex').HealingHumans.value_counts(normalize = 'True')

Sex     HealingHumans
Female  0.0              0.956522
        1.0              0.043478
Male    0.0              0.949561
        1.0              0.050439
Name: proportion, dtype: float64

In [28]:
accusedtrialcase.groupby(by = 'Sex').HealingAnimals.value_counts(normalize = 'True')

Sex     HealingAnimals
Female  0.0               0.983419
        1.0               0.016581
Male    0.0               0.962719
        1.0               0.037281
Name: proportion, dtype: float64

In [29]:
accusedtrialcase.groupby(by = 'Sex').RecHealer.value_counts()

Sex     RecHealer
Female  0.0          2677
        1.0            37
Male    0.0           438
        1.0            18
Name: count, dtype: int64

In [30]:
accusedtrialcase.groupby(by = 'Sex').HumanDeath.value_counts()

Sex     HumanDeath
Female  0.0           2463
        1.0            251
Male    0.0            428
        1.0             28
Name: count, dtype: int64

In [31]:
accusedtrialcase.groupby(by = 'Sex').HumanDeath.value_counts(normalize = True)

Sex     HumanDeath
Female  0.0           0.907517
        1.0           0.092483
Male    0.0           0.938596
        1.0           0.061404
Name: proportion, dtype: float64

In [32]:
accusedtrialcase.groupby(by = 'Sex').SympatheticMagic.value_counts()

Sex     SympatheticMagic
Female  0.0                 2551
        1.0                  163
Male    0.0                  418
        1.0                   38
Name: count, dtype: int64

In [33]:
accusedtrialcase.groupby(by = 'Sex').WhiteMagic_s.value_counts()

Sex     WhiteMagic_s
Female  0.0             2641
        1.0               73
Male    0.0              436
        1.0               20
Name: count, dtype: int64

In [34]:
accusedtrialcase.groupby(by = 'Sentence').WhiteMagic_s.value_counts()

Sentence            WhiteMagic_s
Banishment          0.0              25
                    1.0               2
Branded             1.0               1
Declared Fugitive   0.0              11
Excommunicated      0.0               5
                    1.0               1
Execution           0.0             178
                    1.0              27
Hang                1.0               1
Prison              0.0               1
Public Humiliation  0.0               1
Put to the horn     1.0               2
Released            0.0              52
Name: count, dtype: int64

In [35]:
accusedtrialcase.groupby(by = 'Sentence').Treason_s.value_counts()

Sentence            Treason_s
Banishment          0.0           27
Branded             0.0            1
Declared Fugitive   0.0           11
Excommunicated      0.0            6
Execution           0.0          199
                    1.0            6
Hang                0.0            1
Prison              0.0            1
Public Humiliation  0.0            1
Put to the horn     0.0            2
Released            0.0           52
Name: count, dtype: int64

In [37]:
accusedtrialcase.groupby(by = 'Sentence').Res_county.value_counts()

Sentence            Res_county
Banishment          Aberdeen          6
                    Dumfries          5
                    Clackmannan       3
                    Edinburgh         3
                    Banff             2
                    Linlithgow        2
                    Orkney            2
                    Forfar            1
                    Fife              1
                    Ayr               1
Branded             Orkney            1
Declared Fugitive   Haddington        8
                    Edinburgh         2
Excommunicated      Wigtown           2
                    Fife              2
                    Aberdeen          1
                    Stirling          1
Execution           Edinburgh        58
                    Aberdeen         23
                    Perth            17
                    Haddington       17
                    Ayr              17
                    Renfrew          13
                    Orkney           12
                    Fife             10
                    Kirkcudbright     8
                    Dumfries          8
                    Lanark            4
                    Shetland          4
                    Ross              2
                    Peebles           2
                    Inverness         2
                    Berwick           2
                    Bute              1
                    Clackmannan       1
                    Stirling          1
                    Kinross           1
Hang                Argyll            1
Prison              Haddington        1
Public Humiliation  Ayr               1
Put to the horn     Dunbarton         2
Released            Renfrew          24
                    Lanark            7
                    Stirling          6
                    Peebles           3
                    Edinburgh         3
                    Dumfries          3
                    Selkirk           1
                    Ross              1
                    Inverness         1
                    Haddington        1
                    Fife              1
                    Berwick           1
Name: count, dtype: int64

In [44]:
small_accusedtrialcase = accusedtrialcase[['Sentence', 'Execution', 'Executionmethod', 'Res_county', 'Sex', 'AccusedRef', 'Case_date']].copy()

In [45]:
#df_case['Case_year'] = df_case['Case_date'].str[-4:]
small_accusedtrialcase['Case_year'] = small_accusedtrialcase['Case_date'].str[-4:]

In [52]:
small_accusedtrial = small_accusedtrialcase[small_accusedtrialcase.Sentence.notna()]

In [59]:
small_accusedtrial.groupby(by = 'Execution').Res_county.value_counts(normalize = True)

Execution  Res_county
0.0        Renfrew          0.211864
           Haddington       0.093220
           Dumfries         0.076271
           Edinburgh        0.076271
           Aberdeen         0.067797
           Ayr              0.067797
           Lanark           0.059322
           Stirling         0.059322
           Orkney           0.042373
           Fife             0.042373
           Peebles          0.025424
           Inverness        0.025424
           Clackmannan      0.025424
           Banff            0.016949
           Dunbarton        0.016949
           Linlithgow       0.016949
           Wigtown          0.016949
           Perth            0.016949
           Forfar           0.008475
           Argyll           0.008475
           Selkirk          0.008475
           Berwick          0.008475
           Ross             0.008475
1.0        Edinburgh        0.308108
           Aberdeen         0.118919
           Haddington       0.086486
           Perth            0.081081
           Renfrew          0.064865
           Ayr              0.059459
           Orkney           0.054054
           Fife             0.048649
           Kirkcudbright    0.043243
           Dumfries         0.037838
           Shetland         0.021622
           Lanark           0.021622
           Berwick          0.010811
           Peebles          0.010811
           Ross             0.010811
           Clackmannan      0.005405
           Bute             0.005405
           Kinross          0.005405
           Stirling         0.005405
Name: proportion, dtype: float64

In [61]:
small_accusedtrialcase.Res_county.value_counts(normalize = True)

Res_county
Haddington       0.189407
Edinburgh        0.125792
Fife             0.119171
Aberdeen         0.055843
Ayr              0.046056
Berwick          0.042602
Linlithgow       0.037421
Renfrew          0.036269
Perth            0.032815
Peebles          0.029073
Lanark           0.027634
Dumfries         0.024467
Ross             0.024467
Forfar           0.024180
Orkney           0.022740
Bute             0.018135
Roxburgh         0.017271
Stirling         0.016408
Nairn            0.015832
Caithness        0.014968
Inverness        0.013241
Kirkcudbright    0.010651
Clackmannan      0.008923
Shetland         0.008348
Elgin            0.008060
Dunbarton        0.007196
Selkirk          0.006045
Sutherland       0.004606
Wigtown          0.004318
Banff            0.002879
Kinross          0.002303
Argyll           0.001727
Cromarty         0.000576
Kincardine       0.000576
Name: proportion, dtype: float64

In [69]:
execution_df = small_accusedtrialcase[small_accusedtrialcase.Execution == 1.0]

In [72]:
execution_df

,Sentence,Execution,Executionmethod,Res_county,Sex,AccusedRef,Case_date,Case_year
7,NaN,1.0,NaN,Haddington,Female,A/EGD/1005,3/7/1628,1628
47,NaN,1.0,NaN,Dunbarton,Female,A/EGD/1043,13/1/1629,1629
51,Execution,1.0,Strangle & Burn,Edinburgh,Female,A/EGD/1047,27/1/1629,1629
52,Execution,1.0,Burn,Edinburgh,Female,A/EGD/1048,25/11/1628,1628
91,Execution,1.0,Strangle & Burn,Perth,Male,A/EGD/1082,11/7/1629,1629
...,...,...,...,...,...,...,...,...
3435,Execution,1.0,NaN,Ayr,Female,A/LA/3035,1614,1614
3436,Execution,1.0,Burn,Ayr,Female,A/LA/3036,1618,1618
3473,Execution,1.0,NaN,Kirkcudbright,Female,A/LA/3074,26/7/1698,1698
3484,Execution,1.0,Burn,Ross,Female,A/LA/3085,20/1/1631,1631
3514,Execution,1.0,Strangle & Burn,Haddington,Female,A/LA/3115,6/1/1635,1635

In [74]:
execution_graph_df = execution_df[['Sex', 'Case_year']].copy()

In [75]:
#not_lothian_pivot = pd.pivot_table(not_lothian_df_sex, index = 'Case_year', columns = 'Sex', aggfunc = 'size', fill_value = 0).reset_index()

execution_pivot = pd.pivot_table(execution_graph_df, index = 'Case_year', columns = 'Sex', aggfunc = 'size', fill_value = 0).reset_index()

In [77]:
execution_pivot.to_csv('execution_pivot.csv')